.contenedor-imagenes {
    margin: 2px;
    float: left;
    width: 100%;
    text-align: center;
    background-size: cover;
    margin-bottom: 10px;
}

#img1 {
    background-image: url('../css/img/logo.png');
    background-repeat: no-repeat;
    height: 120px;
    max-width: 40%;
    background-size: cover;
    margin-bottom: 10px;
}

#img2 {
    background-image: url('../css/img/tecc.png');
    background-repeat: no-repeat;
    height: 120px;
    max-width: 20%;
    background-size: cover;
    margin-bottom: 10px;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: rgb(13, 6, 75);
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    border: 2px solid rgb(2, 2, 56);
    height: 20px;
    width: 100px;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 200px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -200px;
    top: 0px;
}