<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/darkly.min.css">
    <title>Añadir Curso</title>
</head>

<body>
    <h4><a href="/index">Inicio</a></h4>
    <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">
            Guardar
        </button>
    </form>
</body>

</html>